@use '../tools/functions';

ul {
  display: flex;
  flex-direction: column;
  gap: functions.fluid-size('micro');

  li {
    font-size: functions.fluid-size('base');
    line-height: calc(1em + 0.5rem);
  }
}
